@keyframes bg-float-1 {
  0%,
  100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, 0);
  }
}

@keyframes bg-float-2 {
  0%,
  100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-5px, -5px);
  }
}

@keyframes bg-float-3 {
  0%,
  100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -10px);
  }
}

.bg-float-1 {
  animation: bg-float-1 5s ease-in-out infinite;
}

.bg-float-2 {
  animation: bg-float-2 4s ease-in-out infinite;
}

.bg-float-3 {
  animation: bg-float-3 6s ease-in-out infinite;
}
